<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Subscription-SudoNova</title>
        <link rel="stylesheet" href="../styles/buy-style.css">
        <script src="https://kit.fontawesome.com/f3087185bd.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
    </head>

    <body>
        <div class="background"></div>
        <div class="preloader"></div>
        <header>
            <a href="../templates/index.html"><img src="../Images/NewIdea/PNGs/logo-bg-removed.png" alt="Sudo-Nova" class="logo"></a>
            <div class="menu-btn"></div>
            <div class="navigation">
                <div class="navigation-items">
                    <a href="../templates/index.html">Home</a>
                    <a href="../templates/about.html#about-section">About</a>
                    <a href="../templates/about.html#contact">Contact</a>
                    <a href="../templates/sign.html" id="btn">Get Started</a>
                </div>
            </div>
        </header>
        <section class="pricing">
            <div class="card-wrapper">
                <div class="card">
                    <!-- Card Header -->
                    <div class="card-header">
                        <img src="../Images/NewIdea/PNGs/panda.png" alt="Sudo-Nova">
                        <h3>Starter</h3>
                    </div>
                    <!-- Card Details -->
                    <div class="card-details">
                        <p><span class="fas fa-check check" id="tick"></span> UI/UX Designing</p>
                        <p><span class="fas fa-check check" id="tick"></span> Frontend Development</p>
                        <p><span class="fas fa-times nocheck" id="cross"></span> Backend Development</p>
                        <p><span class="fas fa-times nocheck" id="cross"></span> Manangement</p>
                    </div>
                    <!-- Card Price -->
                    <div class="card-price">
                        <p><sup>€ </sup> 99 <sub>/month</sub></p>
                    </div>
                    <!-- Card button -->
                    <button class="card-button">Let's Buy</button>
                </div>
                <div class="card">
                    <!-- Card Header -->
                    <div class="card-header">
                        <img src="../Images/NewIdea/PNGs/inumaki.png" alt="Sudo-Nova">
                        <h3>Professional</h3>
                    </div>
                    <!-- Card Details -->
                    <div class="card-details">
                        <p><span class="fas fa-check check" id="tick"></span> UI/UX Designing</p>
                        <p><span class="fas fa-check check" id="tick"></span> Frontend Development</p>
                        <p><span class="fas fa-check check" id="tick"></span> Backend Development</p>
                        <p><span class="fas fa-times nocheck" id="cross"></span> Manangement</p>
                    </div>
                    <!-- Card Price -->
                    <div class="card-price">
                        <p><sup>€ </sup> 199 <sub>/month</sub></p>
                    </div>
                    <!-- Card button -->
                    <button class="card-button">Let's Buy</button>
                </div>
                <div class="card">
                    <!-- Card Header -->
                    <div class="card-header">
                        <img src="../Images/NewIdea/PNGs/Maki.png" alt="Sudo-Nova">
                        <h3>Business</h3>
                    </div>
                    <!-- Card Details -->
                    <div class="card-details">
                        <p><span class="fas fa-check check" id="tick"></span> UI/UX Designing</p>
                        <p><span class="fas fa-check check" id="tick"></span> Frontend Development</p>
                        <p><span class="fas fa-check check" id="tick"></span> Backend Development</p>
                        <p><span class="fas fa-check check" id="tick"></span> Manangement</p>
                    </div>
                    <!-- Card Price -->
                    <div class="card-price">
                        <p><sup>€ </sup> 499 <sub>/month</sub></p>
                    </div>
                    <!-- Card button -->
                    <button class="card-button">Let's Buy</button>
                </div>
            </div>
        </section>
    </body>

    <!-- Extended time -->
    <div class="extend-time">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Yf5d_Zx3AaI"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

    <script src="../scripts/buy.js"></script>

</html>