<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SudoNova-Homepage</title>
        <link rel="stylesheet" href="../styles/index-style.css">
        <script src="https://kit.fontawesome.com/f3087185bd.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
    </head>

    <body>

        <div id="preloader"></div>

        <header class="header">
            <img src="/Images/NewIdea/PNGs/logo-bg-removed.png" alt="Sudo-Nova" class="logo">
            <div class="menu-btn"></div>
            <div class="navigation">
                <div class="navigation-items">
                    <a href="../templates/sign.html" id="btn-1"><span>Get Started</span></a>
                </div>
            </div>
        </header>

        <section class="home">
            <video class="vid" src="../Images/NewIdea/Videos/vid1.mp4" autoplay muted loop></video>
            <div class="dev-info">
                <div class="hello">Hi! I am</div>
                <span class="name"><span>Sudo</span>Nova</span>
            </div>
            <div class="content">
                <!-- <h1>About Me...</h1> -->
                <p>I am a <span id="desg">Software Developer</span></p>
                <a href="../templates/about.html" id="btn"><span>Read more</span></a>
            </div>
            <div class="media-icons">
                <a href="https://www.facebook.com/Mistoghan.KRATOS" target="_main"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/ign._.kratos/" target="_main"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/KratosXVII" target="_main"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/soumyadip-sanyal-a2867925a/" target="_main"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </section>

        <div class="extend-time">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Yf5d_Zx3AaI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>


        <script src="../scripts/index.js"></script>
    </body>

</html>